/* Account.module.css */

.title{
  text-align: left;
  margin-left: 20px;
  margin-top: 25px;
  margin-right: 400px;
}

.subtitle{
  text-align: left;
  color:#808B96;
  font-size: 13px;
  margin-top: 30px;
  margin-left: 20px;
  box-shadow: inset 0 -2px  #808B96;
  max-width: 80%;
}

.heading{
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 30px;
}

.emailaddress{
  text-align: left;
  margin-left: 20px;
  color:#ABB2B9;
  margin-top: 5px;
}

.changePasswordContainer {
display: flex;
flex-direction: column;
align-items: left;
justify-content: space-between;
align-items: center;
}

.button {
  padding: 2px 15px;
  border: 2px solid #6495ED; 
  background-color: transparent;
  color: #6495ED;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.4s;
  border-radius: 50px;
  margin-top: 80px;
  margin-right: -20px;
  max-width: 100px;
  min-width: 80px;
}

.button:hover {
background-color: #fff; 
color: #808B96; 
border: 2px solid ;
}


.alertMessage{
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  width:70%;
}

.sendNcancel{
   display: block;
  justify-content: space-between;
}