/* ForgotPassword.module.css */

.password {
  height: 100vh;
  position: relative;
  display: flex;
}

.blur{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)),
      url("/public/images/NYh11.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position:absolute;
  z-index: -1;
  
}

.midbox{
  /* margin: auto; */
  margin: 5% auto;
  background-color: white;
  /* width: 40%; */
  height:80%;
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  overflow: hidden;
}

.above{
  height: 40%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)),
      url("/public/images/NYh11.jpg");
  background-position:center top;
  background-size:cover;
  display: flex;
  position: relative;
}

.backIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 60px;
}

.backIcon:hover {
  opacity: 0.7;
  cursor: pointer;

}

.loginClick{
  color: red;
  text-decoration: underline;
}

.loginClick:hover{
  opacity: 0.7;
  cursor: pointer;
}

.above h1{
  font-size: 110px;
  font-weight: bold;
  color: white;
  overflow: hidden;
  position: relative;
  margin: auto;
  
}

.below{
  width: 100%;
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.contentcontainer {
  width: 70%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column; 
}


.btn{
  text-align: center;
  margin-left: 35%;
  width: 30%;
  height: 40%;
  border: none;
  border-radius: 4px;
  background-color: #FFE4B5; /* Yellow background */
  color: #000;
  cursor: pointer;
}

.btn:hover{
  background-color: #ADD8E6;
}

.signup a {
  color: black; /* Set the color to black */
  font-weight: bold; /* Set the font weight to bold */
  text-decoration: none; /* Remove the underline */
}



.emaillabel {
  
  border-radius: 50px;
  width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
}

@media (max-width: 769px) {
  .password {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .midbox {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
  .above h1 {
    font-size: 15vw;
  }
}
